.progress
    height: 6px
    background-color: var(--input-border-color)
    min-width: 100px
    border-radius: var(--border-radius)

    .line
        border-radius: var(--border-radius)
        background-color: var(--color-green)
        height: inherit

        &.main
            background-color: var(--color-main)

        &.green
            background-color: var(--color-green)

        &.red
            background-color: var(--color-red)

        &.orange
            background-color: var(--color-orange)
