.progress
    min-height: 2px
    max-height: 20px
    min-width: 100px
    overflow: hidden
    background-color: var(--progress-background)
    border-radius: var(--progress-radius)

    .line
        min-height: 2px
        max-height: 20px
        height: inherit
        border-radius: inherit
        background-color: var(--color-green)
        transition: width var(--duration-slow) var(--ease)

        &.main
            background-color: var(--color-main)

        &.green
            background-color: var(--color-green)

        &.red
            background-color: var(--color-red)

        &.orange
            background-color: var(--color-orange)
