@use '../../styles/animations' as animations

.overlay
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: var(--z-overlay)
    background: var(--overlay-background)

    &.noInitialized
        opacity: 0
        visibility: hidden

    &.hidden
        opacity: 0
        visibility: hidden
        animation: animation-fadeOut var(--duration-slow) var(--ease)

    &.displayed
        opacity: 1
        visibility: visible
        animation: animation-fadeIn var(--duration-slow) var(--ease)

    @media (prefers-reduced-motion: reduce)
        &.hidden, &.displayed
            animation: none
