.popout
    position: relative
    display: inline-block
    width: fit-content

    .trigger
        cursor: pointer
        border: none
        padding: 0
        margin: 0

        &.disabled
            cursor: default
            pointer-events: none

    .content
        box-shadow: var(--popout-shadow)
        background-color: var(--container-background-color)
        border-radius: var(--border-radius)
        position: absolute
        z-index: 1
        min-width: 160px
        margin-top: 5px
