.tableContainer
    overflow: hidden
    overflow-x: auto
    height: inherit

    &.stickyHeader
        overflow-y: auto

        thead
            position: sticky
            z-index: 1
            top: 0

    .table
        width: 100%
        border-collapse: collapse
        font-family: var(--font-family), sans-serif

        th, td
            padding: 4px 12px
            box-shadow: var(--table-row-box-shadow)
            text-align: left

        &.verticalBorder
            th, td
                border-left: 1px solid var(--table-border-color)
                border-right: 1px solid var(--table-border-color)

                &:first-of-type
                    border-left: 0

                &:last-of-type
                    border-right: 0

        td
            padding: 2px 12px

            &.noData
                text-align: center

        tr:last-child td
            border-bottom: none

        th
            background: var(--table-header-background)
            color: var(--text-color-primary)

        th.sortable
            cursor: pointer
            white-space: nowrap

            &:hover
                background-color: var(--table-header-background-hover)

            svg
                fill: var(--text-color-primary)
                vertical-align: middle
                margin-left: 5px
                margin-top: -3px

        &.small
            th, td
                height: var(--size-small)
                font-size: var(--font-size-small)
                padding: 4px 8px

        &.medium
            th, td
                height: var(--size-medium)
                font-size: var(--font-size)
                padding: 4px 12px

        &.large
            th, td
                height: var(--size-large)
                font-size: var(--font-size)
                padding: 6px 16px
